In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('steering.csv')
df

            0.0
0     -0.000000
1     -0.000000
2     -0.000000
3     -0.000000
4     -0.000000
5     -0.000000
6     -0.000000
7     -0.000000
8     -0.000000
9     -0.000000
10    -0.000000
11    -0.000000
12    -0.000000
13    -0.000000
14    -0.000000
15    -0.000000
16    -0.000000
17    -0.011656
18    -0.000000
19    -0.000000
20    -0.000000
21    -0.000000
22    -0.000000
23    -0.006227
24    -0.022514
25    -0.044214
26    -0.071343
27    -0.098473
28    -0.125602
29    -0.147318
...         ...
10162 -0.000000
10163 -0.000000
10164 -0.000000
10165 -0.000000
10166 -0.000000
10167 -0.000000
10168 -0.000000
10169 -0.000000
10170 -0.000000
10171 -0.000000
10172 -0.000000
10173 -0.000000
10174 -0.000000
10175 -0.000000
10176 -0.000000
10177 -0.000000
10178 -0.000000
10179 -0.000000
10180 -0.000000
10181 -0.000000
10182 -0.000000
10183 -0.000000
10184 -0.000000
10185 -0.000000
10186 -0.000000
10187 -0.000000
10188 -0.000000
10189 -0.000000
10190 -0.000000
10191  0.000000

[10192 rows x 1 columns]

In [3]:
index = np.arange(0, 10192, 1)
df['index'] = index

In [4]:
df = df.groupby(df.index // 3.196).mean()

In [5]:
df

              0.0    index
-0.0     0.000000      1.5
 1.0     0.000000      5.0
 2.0     0.000000      8.0
 3.0     0.000000     11.0
 4.0     0.000000     14.0
 5.0    -0.002914     17.5
 6.0     0.000000     21.0
 7.0    -0.024318     24.0
 8.0    -0.098473     27.0
 9.0    -0.159976     30.0
 10.0   -0.188004     33.5
 11.0   -0.207001     37.0
 12.0   -0.212425     40.0
 13.0   -0.230511     43.0
 14.0   -0.277536     46.0
 15.0   -0.346721     49.5
 16.0   -0.112674     53.0
 17.0    0.000000     56.0
 18.0    0.000000     59.0
 19.0    0.000000     62.0
 20.0    0.000000     65.5
 21.0    0.000000     69.0
 22.0    0.000000     72.0
 23.0    0.000000     75.0
 24.0    0.000000     78.0
 25.0    0.000000     81.5
 26.0    0.000000     85.0
 27.0    0.000000     88.0
 28.0    0.000000     91.0
 29.0    0.000000     94.0
...           ...      ...
 3159.0 -0.152731  10098.0
 3160.0 -0.152731  10101.0
 3161.0 -0.152731  10104.0
 3162.0 -0.152731  10107.0
 3163.0 -0.155446  10110.5
 3164.0 -0.158161  10114.0
 3165.0 -0.159970  10117.0
 3166.0 -0.163590  10120.0
 3167.0 -0.167209  10123.0
 3168.0 -0.170376  10126.5
 3169.0 -0.170828  10130.0
 3170.0 -0.169019  10133.0
 3171.0 -0.169019  10136.0
 3172.0 -0.169019  10139.0
 3173.0 -0.137818  10142.5
 3174.0 -0.034905  10146.0
 3175.0  0.000000  10149.0
 3176.0  0.000000  10152.0
 3177.0  0.000000  10155.0
 3178.0  0.000000  10158.5
 3179.0  0.000000  10162.0
 3180.0  0.000000  10165.0
 3181.0  0.000000  10168.0
 3182.0  0.000000  10171.0
 3183.0  0.000000  10174.5
 3184.0  0.000000  10178.0
 3185.0  0.000000  10181.0
 3186.0  0.000000  10184.0
 3187.0  0.000000  10187.0
 3188.0  0.000000  10190.0

[3189 rows x 2 columns]

In [6]:
del df['index']

In [7]:
df.to_csv('processed.csv')

In [8]:
dataframe = pd.read_csv('camera.csv')
dataframe.describe()

                  ts  steering
count    3189.000000    3189.0
mean    86750.874882       0.0
std     37978.580040       0.0
min     22005.000000       0.0
25%     53175.000000       0.0
50%     86325.000000       0.0
75%    120735.000000       0.0
max    151320.000000       0.0

In [9]:
df = pd.read_csv('processed.csv')
st = df['steering']
st

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
5      -0.002914
6       0.000000
7      -0.024318
8      -0.098473
9      -0.159976
10     -0.188004
11     -0.207001
12     -0.212425
13     -0.230511
14     -0.277536
15     -0.346721
16     -0.112674
17      0.000000
18      0.000000
19      0.000000
20      0.000000
21      0.000000
22      0.000000
23      0.000000
24      0.000000
25      0.000000
26      0.000000
27      0.000000
28      0.000000
29      0.000000
          ...
3159   -0.152731
3160   -0.152731
3161   -0.152731
3162   -0.152731
3163   -0.155446
3164   -0.158161
3165   -0.159970
3166   -0.163590
3167   -0.167209
3168   -0.170376
3169   -0.170828
3170   -0.169019
3171   -0.169019
3172   -0.169019
3173   -0.137818
3174   -0.034905
3175    0.000000
3176    0.000000
3177    0.000000
3178    0.000000
3179    0.000000
3180    0.000000
3181    0.000000
3182    0.000000
3183    0.000000
3184    0.000000
3185    0.000000
3186    0.000000
3187    0.000000
3188    0.000000
Name: steering, Length: 3189, dtype: float64

In [32]:
dataframe['steering'] = st
dataframe.to_csv('driving_lop.csv')