In [1]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('steering-Copy1.csv')
df

           0.0
0    -0.000000
1    -0.000000
2    -0.000000
3    -0.000000
4    -0.000000
5    -0.000000
6    -0.000000
7    -0.000000
8    -0.000000
9    -0.000000
10   -0.000000
11   -0.000000
12   -0.000000
13   -0.000000
14   -0.000000
15   -0.000000
16   -0.000000
17   -0.000000
18   -0.000000
19   -0.000000
20   -0.000000
21   -0.000000
22   -0.000000
23   -0.000000
24   -0.000000
25   -0.000000
26   -0.000000
27   -0.000000
28   -0.000000
29   -0.000000
...        ...
6879 -0.071343
6880 -0.082202
6881 -0.087631
6882 -0.093044
6883 -0.098473
6884 -0.103902
6885 -0.109331
6886 -0.114760
6887 -0.120173
6888 -0.125602
6889 -0.131031
6890 -0.136460
6891 -0.141889
6892 -0.147318
6893 -0.152731
6894 -0.158161
6895 -0.163590
6896 -0.169019
6897 -0.163590
6898 -0.169019
6899 -0.163590
6900 -0.169019
6901 -0.169019
6902 -0.131031
6903 -0.000000
6904 -0.000000
6905 -0.000000
6906 -0.000000
6907 -0.000000
6908  0.000000

[6909 rows x 1 columns]

In [23]:
index = np.arange(0, 6909, 1)
df['index'] = index

In [24]:
df = df.groupby(df.index // 2.145).mean()

In [25]:
df

              0.0   index
-0.0     0.000000     1.0
 1.0     0.000000     3.5
 2.0     0.000000     5.5
 3.0     0.000000     7.5
 4.0     0.000000     9.5
 5.0     0.000000    11.5
 6.0     0.000000    14.0
 7.0     0.000000    16.5
 8.0     0.000000    18.5
 9.0     0.000000    20.5
 10.0    0.000000    22.5
 11.0    0.000000    24.5
 12.0    0.000000    26.5
 13.0    0.000000    29.0
 14.0    0.000000    31.5
 15.0    0.000000    33.5
 16.0    0.000000    35.5
 17.0    0.000000    37.5
 18.0    0.000000    39.5
 19.0    0.000000    41.5
 20.0    0.000000    44.0
 21.0    0.000000    46.5
 22.0    0.000000    48.5
 23.0    0.000000    50.5
 24.0    0.000000    52.5
 25.0    0.000000    54.5
 26.0    0.000000    56.5
 27.0    0.000000    59.0
 28.0    0.000000    61.5
 29.0    0.000000    63.5
...           ...     ...
 3191.0 -0.106616  6845.5
 3192.0 -0.106616  6847.5
 3193.0 -0.105712  6850.0
 3194.0 -0.106616  6852.5
 3195.0 -0.095758  6854.5
 3196.0 -0.071343  6856.5
 3197.0 -0.033364  6858.5
 3198.0 -0.008941  6860.5
 3199.0  0.000000  6863.0
 3200.0  0.000000  6865.5
 3201.0  0.000000  6867.5
 3202.0 -0.000407  6869.5
 3203.0 -0.011656  6871.5
 3204.0 -0.036070  6873.5
 3205.0 -0.046929  6875.5
 3206.0 -0.064110  6878.0
 3207.0 -0.084916  6880.5
 3208.0 -0.095758  6882.5
 3209.0 -0.106616  6884.5
 3210.0 -0.117467  6886.5
 3211.0 -0.128317  6888.5
 3212.0 -0.139175  6890.5
 3213.0 -0.152737  6893.0
 3214.0 -0.166304  6895.5
 3215.0 -0.166304  6897.5
 3216.0 -0.166304  6899.5
 3217.0 -0.150025  6901.5
 3218.0  0.000000  6903.5
 3219.0  0.000000  6905.5
 3220.0  0.000000  6907.5

[3221 rows x 2 columns]

In [26]:
del df['index']

In [27]:
df.to_csv('processed.csv')

In [30]:
dataframe = pd.read_csv('camera.csv')
dataframe.describe()

                  ts  steering
count    3220.000000    3220.0
mean    76290.018634       0.0
std     37588.260390       0.0
min     11130.000000       0.0
25%     43698.750000       0.0
50%     76305.000000       0.0
75%    108761.250000       0.0
max    141645.000000       0.0

In [31]:
df = pd.read_csv('processed.csv')
st = df['steering']
st

0       0.000000
1       0.000000
2       0.000000
3       0.000000
4       0.000000
5       0.000000
6       0.000000
7       0.000000
8       0.000000
9       0.000000
10      0.000000
11      0.000000
12      0.000000
13      0.000000
14      0.000000
15      0.000000
16      0.000000
17      0.000000
18      0.000000
19      0.000000
20      0.000000
21      0.000000
22      0.000000
23      0.000000
24      0.000000
25      0.000000
26      0.000000
27      0.000000
28      0.000000
29      0.000000
          ...
3191   -0.106616
3192   -0.106616
3193   -0.105712
3194   -0.106616
3195   -0.095758
3196   -0.071343
3197   -0.033364
3198   -0.008941
3199    0.000000
3200    0.000000
3201    0.000000
3202   -0.000407
3203   -0.011656
3204   -0.036070
3205   -0.046929
3206   -0.064110
3207   -0.084916
3208   -0.095758
3209   -0.106616
3210   -0.117467
3211   -0.128317
3212   -0.139175
3213   -0.152737
3214   -0.166304
3215   -0.166304
3216   -0.166304
3217   -0.150025
3218    0.000000
3219    0.000000
3220    0.000000
Name: steering, Length: 3221, dtype: float64

In [32]:
dataframe['steering'] = st
dataframe.to_csv('driving_lop.csv')